* {
    margin: 0px;
    padding: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

header {
    background-color: #3c4043;
    color: #dadce0;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 20px;
    height: 80px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 50px;
    font-size: 1.4rem;
}

a {
    font-style: none;
    color: #dadce0;
    font-size: 1.2rem;
}

.liga {
    color:#3c4043;
    margin: 20px;
}

.uppdatera {
    color:#3c4043;
    margin: 10px;
}

a:hover {
    cursor: pointer;
    font-weight: bolder;
}

img {
    height: 80px;
    width: auto;
    margin: 10px;
}

#skapaliga {
    margin: 50px;
    color: black;
}