* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #3c4043;
    color: #dadce0;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 20px;
    height: 80px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 50px;
    font-size: 1.4rem;
}

a {
    font-style: none;
    color: pink;
    font-size: 1.2rem;
}

a:hover {
    cursor: pointer;
    font-weight: bolder;
}
